
.card {

  padding: 20px;
  margin-top: 20px;
  max-width: 60%;
}

.card .img {
  width: 100%;
  padding: 20px; 
}

.profilepic {
  width: 50%;
  margin: 5%;
  float:right;

}

/* Add a card effect for articles */
img {
  width: inherit;
}

.row:after {
  content: "";
  display: table;
  clear: both;
} 
