.button {
  height: 10%;
  border: 0;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  margin-top: 1.5rem;

}

.about-me{
  font-size: 300%;
  font-family: 'Roboto Condensed', sans-serif;
  margin-right: 5%;

}


.contact-me{
  font-size:  300%;
  font-family: 'Roboto Condensed', sans-serif; 
  margin-right: 5%;
}



.blog {
  font-size:  300%;
  font-family: 'Roboto Condensed', sans-serif;
  margin-right: 5%;
}

.index {
  font-size: 300%;
  font-family: 'Roboto Condensed', sans-serif;
  margin-right: 5%;

}

.portfolio {
  font-size: 300%;
  font-family: 'Roboto Condensed', sans-serif;
  margin-right: 5%;

}