.button {
  height: 10%;
  border: 0;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  margin-top: 1.5rem;

}

.about-me{
  font-size: 200%;
  font-family: 'Roboto Condensed', sans-serif;
  margin-right: 5%;
  margin-bottom: 1%

}


.contact-me{
  font-size:  200%;
  font-family: 'Roboto Condensed', sans-serif; 
  margin-right: 5%;
  margin-bottom: 1%
}



.blog {
  font-size:  200%;
  font-family: 'Roboto Condensed', sans-serif;
  margin-right: 5%;
  margin-bottom: 1%
}

.index {
  font-size: 200%;
  font-family: 'Roboto Condensed', sans-serif;
  margin-right: 8%;
  margin-bottom: 1%
}

.portfolio {
  font-size: 200%;
  font-family: 'Roboto Condensed', sans-serif;
  margin-right: 5%;
  margin-bottom: 1%

}