.index-grid {
  width: 80%;
  height: 100vh;
  display: grid;
  grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  position: center;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.container-about {
  width: 100%;
  background: #EBBAB9;
  position: absolute;
  
}

.container-about-sub {
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: wrap;
  align-items: flex-end; 
  flex-direction: row;

}

.container-contact {
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  padding-top: 60px;


}

.container-description {

  height: 80%;
  width: 80%;
  bottom: 0;
display: flex;
flex-direction: column;
justify-content: space-around;

}

.container-description img {
  width: 100%;
  height: 100%;
  height: auto;
}


  .about {
  background: #EBBAB9;
  width: 50%;
  height: 50%;
  
  }
  
  .about img {
    height: 23%;
    width: 23%;
    height: auto;
  }


  .portfolio .centercolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
  }
  
  
  
  .blog .centercolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  
  .about-me .centercolumn {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
    justify-content: flex-end;
  }
  
  .grid-box-one {
    grid-row: 1 / span 5;
    grid-column: 1 / span 2;
    background: #EBBAB9;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  
  
  }
  
  .image-grid-box {
    
    height: auto;
    width: auto;
    grid-row: 1 / span 5;
    grid-column: 3 / span 2;
    background-image: url("/Pictures/text.jpg");
    background-size: cover;
  }
  
  
  
  .footer-grid-box {
    grid-row: 6 / span 3;
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    /* margin: 5px; */
    padding: 8%;
    
  
  
  }
  
  
  .footer-box{
  width: 100%;
  height: 20%;  
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  
  }
  
    .row-box {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: stretch;
      flex-grow: 1; 
    }
    
  .footer {
  
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  
  .footertwo {
  
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  
  .footer-grid-box > div,
  .footertwo > div,
  .footer-box > div,
  .footer > div {
    font-size: 200%;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 3%;
    margin-bottom: 1%
  }