/* The parent of the grid boxes on the index page  */


.index-grid {
  width: 80%;
  height: 100vh;
  display: grid;
  grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  position: center;
}


/* multi use page container   */

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* Page container for the about me page   */

.container-about {
  width: 100%;
  background: #EBBAB9;
  position: absolute;
  
}

/* Page Container for the contact me page   */


.container-contact {
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  padding-top: 60px;


}

.container-description {

  height: 80%;
  width: 80%;
  bottom: 0;
display: flex;
flex-direction: column;
justify-content: space-around;

}

.container-description img {
  width: 100%;
  height: 100%;
  height: auto;
}


  .about {
  background: #EBBAB9;
  width: 50%;
  height: 50%;
  
  }
  
  .about img {
    height: 23%;
    width: 23%;
    height: auto;
  }

/* Container that justifies the content on the portfolio page   */

  .portfolio .centercolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
  }
  
     /* Container that determines flex properties on the blog page   */

  
  .blog .centercolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  
      /* Container that determines flex properties on the about me page   */


  .about-me .centercolumn {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
    justify-content: flex-end;
  }
  
/* Grid box containing text content on the index page  */


  .grid-box-one {
    grid-row: 1 / span 5;
    grid-column: 1 / span 2;
    background: #EBBAB9;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  
  
  }

  /* Grid box containing image content on the index page  */

  
  .image-grid-box {
    
    height: auto;
    width: auto;
    grid-row: 1 / span 5;
    grid-column: 3 / span 2;
    background-image: url("/Pictures/text.jpg");
    background-size: cover;
  }
  
  /* Grid box containing footer content on the index page  */

  
  .footer-grid-box {
    grid-row: 6 / span 3;
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 8%;
    
  
  
  }
  
  /* Footer box that determines flex properties on the blog page  */
  
  .footer-box{
  width: 100%;
  height: 20%;  
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  
  }
  
    /* Box that determines flex direction row on the index page  */


    .row-box {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: stretch;
      flex-grow: 1; 
    }
    
 