.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

}

.container-about {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  width: 80%;
  height: 50%;
  display: grid;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  position: center;
  
  
  }

  .about {
  background: #EBBAB9;
  width: 80%;
  height: 80%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
