@import "buttons.css";
@import "box-text.css";
@import "container.css";
@import "Navbar.css";
@import "blog.css";

      /* Determines global body font and size  */

body {
  font-family: 'Raleway', sans-serif; 
  padding: 20px;
  margin: 0px;
  padding: 0px;

}

   /* Determines global header font, size and color  */

header {
  padding: 5%;
  text-align: center;
  background: #EBBAB9;
}

     /* Maintains that a links stay black even after being clicked  */


a, a:visited {
  color: black;

 }

 

/* Responsive layout - */
@media screen and (max-width: 800px) {
  .center-column {
    width: 100%;
    padding: 0;
  }
}


@media screen and (max-width: 480px) {
  .container-contact {
      font-size: 85%;
      margin: 0;
  }
}
 


@media screen and (max-width: 1024px) {
  .footer-box {
       flex-direction: column;
       height: 50%;
       margin: 0%;
  }
}

@media screen and (max-width: 1024px) {
  .footer-box a {
       font-size: 75%;
       margin: 0%;
  }
}
 


@media screen and (max-width: 1024px) {
  .footer-grid-box a {
       font-size: 80%;
  }
}
 


@media screen and (max-width: 667px) {
  .footer-grid-box a { 
       font-size: 45%;
  }
}
 


@media screen and (max-width: 1024px) {
  .footer a {
       font-size: 50%;
  }
}
 

@media screen and (max-width: 667px) {
  .footer a { 
       font-size: 36%;
  }
}
 

@media screen and (max-width: 1024px) {
  .footertwo a {
       font-size: 60%;
  }
}
 

@media screen and (max-width: 667px) {
  .footertwo a { 
       font-size: 50%;
  }
}

 
@media screen and (max-width: 667px) {
  .container-about h1 {
    font-size: 70%;
  }
}
 
 

@media screen and (max-width: 667px) {
  .profilepic {
    margin: auto;
    width: 75%;
    float: none;
  }

  .container-about p {

    font-size: 100%
  }
}

  



 

