  /* Social bar flex properties on the index page  */


.social-bar {
  width: 20%;
  align-self: flex-end;
  position: fixed;
  display: flex;
  flex-direction: column;
  color: black;
 
}

  /* Social bar flex properties on the about me page  */


.social-bar-two {
  width: 20%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
 
}

  /* Social bar Github logo properties  */


.navbar-logo {
  color: black;
  height: 150px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* Social bar Twitter logo properties  */

.navbar-logo-two {
  height: 200px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* Social bar Linkedin logo properties  */


.navbar-logo-three {
  height: 225px;
  font-size: 30px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
